body {
    background-color: #c3ccce;
    background-image: linear-gradient(315deg, #c3ccce 0%, #455d67 94%);
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}
#contactInfo {
    color: #17242c;
    position: fixed;
    padding: 30px;
    bottom: 0;
    right: 0;
    text-align: right;
}
.fontName { font-size: 2.8em; }
.fontEmail { font-size: 1.8em; }
.fontFolders { font-size: 1.4em; line-height: 1.8em; }
.fontSocial { font-size: 1.8em; margin-left: 12px; }
#socialIcons { margin-top: 10px; }
a, a:link, a:visited {
    text-decoration: none;
    color: #455d67;
    -webkit-transition: 200ms color ease-in-out;
    -moz-transition: 200ms color ease-in-out;
    -o-transition: 200ms color ease-in-out;
    transition: 200ms color ease-in-out;
}
a, a:focus, a:hover { color: #687768; }
.light { font-weight: 200; }
.bold { font-weight: 600; }