a, a:link, a:visited {
    text-decoration: none;
    color: #455d67;
    -webkit-transition: 200ms color ease-in-out;
    -moz-transition: 200ms color ease-in-out;
    -o-transition: 200ms color ease-in-out;
    transition: 200ms color ease-in-out;
}
a, a:focus, a:hover { color: #687768; }
.light { font-weight: 200; }
.bold { font-weight: 600; }

.fcNav {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: flex-end;
}
.navLink {
    margin: 20px;
    text-align: center;
}
.fc {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}
.fc-flex-60 { flex: 0 1 60%; }
.fc-flex-30 { flex: 0 1 30%; }

@media all and (max-width: 768px) {
    .fc { flex-wrap: wrap; }
    .fc div { flex: 0 1 100%; }
}