@import "highlights.css";

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}
body.mainContent {
    background: #e5ebed;
    color: #17242c;
}
h2 {
    margin-block-start: 1em;
    padding-bottom: 2px;
    border-bottom: 1px solid #618891;
}
li { margin: 5px 0; }
li p { margin: 0; }
th { text-align: left; }
p > code {
    word-wrap: break-word; /* old name */
    overflow-wrap: break-word;
}
.snugTop { margin-top: 2px; }
.divResponsive {
    min-height: .01%;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 0;
}
img { border-radius: 2px; }
a, a:link, a:visited {
    text-decoration: none;
    font-weight: 600;
    color: #455d67;
    -webkit-transition: 200ms color ease-in-out;
    -moz-transition: 200ms color ease-in-out;
    -o-transition: 200ms color ease-in-out;
    transition: 200ms color ease-in-out;
    word-wrap: break-word; /* old name */
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
a, a:focus, a:hover { color: #718a82; }
.bold { font-weight: 600; }
.italics { font-style: italic; }
.larger { font-size: larger; }
.smaller { font-size: smaller; }
.xsmall { font-size: x-small; }
.mono { font-family: monospace; }
.text-align-center { text-align: center; }
.bodyWrap { margin: 0 20px; }
.bodyContainer {
    max-width: 1170px;
    margin: 0 auto;
}
.listDate {
    font-size: x-small;
    padding: 2px 4px;
    border-radius: 2px;
    background: #c3ccce;
    margin-left: 6px;
    vertical-align: top;
    line-height: 2.4;
}

.flexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.flexBox a, .flexBox div, .flexBox img { margin: 10px; }

.fcNav {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.navLink {
    padding: 10px 15px;
    margin: 5px;
    font-weight: 600;
    font-size: larger; 
    text-align: center;
}
.fcMain {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.fcMainList { flex: 0 1 75%; }
.fcSideList {
    min-width: 250px;
    flex: 0 1 20%; }
.fa-ul {
    margin-left: 1.7em;
    line-height: 1.5em;
}
.spacerClear {
    width: 100%;
    height: 0px;
    display: block;
    clear: both;
}

div.space-table {
	width: 200px;
	font-size: smaller;
	margin: 10px 0;
	padding: 5px 10px;
	border: 1px solid #aaa; 
}

.headerData {
    line-height: 1.6em;
}
.headerDataItem { margin-bottom: 5px; }
.headerImg {
    float: right; 
    margin: 0 0 10px 20px;
}

.listItem {
    margin-bottom: 5px;
    line-height: 1.6em;
}

.imageR { float: right; margin: 0px 0 10px 20px; }
.imageL { float: left; margin: 0px 20px 10px 0; }
.imageCenter { 
    margin: 0 auto; 
    max-width: 80%;
    display: block; }

@media all and (max-width: 756px) {
    .fcMain { flex-wrap: wrap; }
    .fcMain div { flex: 0 1 100%; }
    .table-responsive {
        width: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

@media all and (max-width: 456px) {
    .headerImg, .imageR, .imageL { 
        float: none;
        display: block;
        margin: 10px auto;
    }
    .fcNav { justify-content: space-between; }
}