<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="icon" type="image/png" href="{{ production_url }}/images/icons/b-icon-96.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ production_url }}/css/main.css" type="text/css" rel="stylesheet" />
</head>
<body class="mainContent">
    <div class="fcNav">
        <div class="navLink">
            <a href="https://kairozu.github.io">Home</a>
        </div>
        <div class="navLink">
            <a href="{{ site.contentlist[0].url }}">{{ site.contentlist[0].title }}</a>
        </div>
    </div>
    <div class="bodyWrap">