{% include head.html %}
<div class="bodyContainer">
	<h1>{{ page.title }}</h1>

	{% if page.hasimg %}
		<a href="{{ page.hasimg }}"><img class="headerImg" width="{{ page.imgwidth }}" src="{{ page.hasimg }}" alt="{{ page.title }}" /></a>
	{% endif %}
	<div class="headerData">
		{% assign p = page %}
		{% include post_tags.html %}
		<div class="headerDataItem"><i class="fas fa-calendar-alt fa-fw"></i> {{ page.date | date: "%B %Y" }}<br /></div>
		{% if page.hasgithub %}
			<i class="fab fa-github fa-fw"></i> <a href="{{ page.hasgithub }}">{{ page.hasgithub }}</a><br />
		{% endif %}

	</div>
	{{ content }}
	<br /><br />
</div>
{% include foot.html %}