{% include head.html %}
<div class="bodyContainer">
    <h1>Kairozu Updates (Complete List)</h1>
    {% for p in site.posts %}
            {% if p.tags[0] == 'science' %}
                <i class="fas fa-flask fa-fw"></i>
            {% elsif p.tags[0] == 'space' %}
                <i class="fas fa-space-shuttle fa-fw"></i>
            {% elsif p.tags[0] == 'code' %}
                <i class="fas fa-code fa-fw"></i>
            {% elsif p.tags[0] == 'project' %}
                <i class="fas fa-cog fa-fw"></i>
            {% elsif p.tags[0] == 'japanese' %}
                <i class="fas fa-language fa-fw"></i>
            {% elsif p.tags[0] == 'japan' %}
                <i class="fas fa-sun fa-fw"></i>
            {% else %}
                <i class="fas fa-edit fa-fw"></i>
            {% endif %}
            <span class="larger"><a href="{{ p.url }}">{{ p.title }}</a></span> <span class="listDate">{{ p.date | date: "%B %Y" }}</span>
            <p class="snugTop">
                {{ p.excerpt | strip_html | truncatewords:50 }}
            </p>
    {% endfor %}
</div>
{% include foot.html %}
