{% include head.html %}
    <div class="fcMain">
        <div class="fcSideList">
            <div id="amberPixel">
                <img src="/images/amber.png">
            </div>
            <div class="sideNote">
                Hi, I'm Amber! This is where I post (less often and with less depth than I’d like) notes on various things. I'm always happy to answer questions!
                <br /><br />
                初めまして！ <wbr>アンバーです。 <wbr>質問があれば、<wbr>遠慮なくきいて下さい。
            </div>
            <span class="bold larger">Recent Updates</span>
            <ul class="fa-ul">
                {% for p in site.posts %}
                    <li>
                        {% if p.tags[0] == 'science' %}
                            <span class="fa-li"><i class="fas fa-flask fa-fw"></i></span>
                        {% elsif p.tags[0] == 'space' %}
                            <span class="fa-li"><i class="fas fa-space-shuttle fa-fw"></i></span>
                        {% elsif p.tags[0] == 'code' %}
                            <span class="fa-li"><i class="fas fa-code fa-fw"></i></span>
                        {% elsif p.tags[0] == 'project' %}
                            <span class="fa-li"><i class="fas fa-cog fa-fw"></i></span>
                        {% elsif p.tags[0] == 'japanese' %}
                            <span class="fa-li"><i class="fas fa-language fa-fw"></i></span>
                        {% elsif p.tags[0] == 'japan' %}
                            <span class="fa-li"><i class="fas fa-sun fa-fw"></i></span>
                        {% elsif p.tags[0] == 'security' %}
                            <span class="fa-li"><i class="fas fa-lock fa-fw"></i></span>
                        {% else %}
                            <span class="fa-li"><i class="fas fa-edit fa-fw"></i></span>
                        {% endif %}
                        <a href="{{ production_url }}{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <span class="bold larger">Category Tags</span>
            <ul class="fa-ul">
                {% assign tags = site.tags | sort %}
                {% for tag_item in tags %}
                    {% assign tag = tag_item | first %}
                    <li>
                        {% if tag == 'science' %}
                            <span class="fa-li"><i class="fas fa-flask fa-fw"></i></span>
                        {% elsif tag == 'space' %}
                            <span class="fa-li"><i class="fas fa-space-shuttle fa-fw"></i></span>
                        {% elsif tag == 'code' %}
                            <span class="fa-li"><i class="fas fa-code fa-fw"></i></span>
                        {% elsif tag == 'project' %}
                            <span class="fa-li"><i class="fas fa-cog fa-fw"></i></span>
                        {% elsif tag == 'japanese' %}
                            <span class="fa-li"><i class="fas fa-language fa-fw"></i></span>
                        {% elsif tag == 'japan' %}
                            <span class="fa-li"><i class="fas fa-sun fa-fw"></i></span>
                        {% elsif p.tags[0] == 'security' %}
                            <span class="fa-li"><i class="fas fa-lock fa-fw"></i></span>
                        {% else %}
                            <span class="fa-li"><i class="fas fa-edit fa-fw"></i></span>
                        {% endif %}
                        <a href="{{site.url}}{{site.baseurl}}/tags/{{tag}}">{{site.data.tags[tag].name}}</a> ({{site.tags[tag].size}})
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="fcMainList">
            {% for p in site.posts limit:12 %}
                <span class="larger"><a href="{{ p.url }}">{{ p.title }}</a> <span class="listDate">{{ p.date | date: "%B %Y" }}</span></span>
                <p class="snugTop">
                    {{ p.excerpt | strip_html | truncatewords:100 }}
                </p>
            {% endfor %}
        </div>
    </div>
<div class="fcNav">
    <div class="navLink"><a href="{{site.url}}{{site.baseurl}}/complete.html">See Complete List <i class="fas fa-arrow-right"></i></a></div>
</div>
<br />
{% include foot.html %}